---
howIfoundThis: ""

sources: ""

description: ""

title: ""
title2: 



og_image: 

header:
  image:  
  teaser: 

categories: []

tags: [Business, Celebrities, Converts, Funny, Hijab, History, Images, Inspirational, Islamophobia, Money, Muhammad, News, Palestine, Politics, Quran, Racism, Videos, Women]

author_profile: false
---

<p>

</p>

<p>

</p>

{% include ads/ad-flwst-1.html %}

<p>

</p>

<p>

</p>

{% include ads/ad-flwst-2.html %}

<p>

</p>

<p>

</p>

<p>
<figure>
  <img src="" alt="">
  <figcaption>Fig1. - A view of the </figcaption>
</figure>
</p>

<blockquote>"."</blockquote>

<p>
Source: 
</p>

<p>
<a class="btn btn--facebook" href="https://www.allamericanmuslim.com/shariffa-a-carlo-2/">Read Part 2</a>
</p>


